* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(50deg, rgb(248,248,254), rgb(254,255,255), rgb(254,255,255), rgb(248,248,254));
}
.imgFontSize {
    width: 115px;
}

.btn-login--fade {
    background-color: rgb(238,237,253);
    color: rgb(117,108,241);
    border-radius: 25px;
}
.nav-item:not(:last-child) {
    margin-top: 7px;
}

.nav-item:not(:last-child):hover {
    text-decoration: underline;
}

.shadow-sm {
    box-shadow: 0 1px 3px rgba(197, 196, 210, 0.5);
}

.font-weight-bolder {
    font-weight: bolder;
    background: linear-gradient(to bottom right, rgb(236, 5, 105), rgb(84,72,238), rgb(84,72,238));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* rgb(248,248,254) rgb(254,255,255); */

.gradient {
    /* background: linear-gradient(to left, rgb(254,255,255), rgb(248,248,254)); */
}

#para {
    width: 50%;
    font-size: 19px;
}
.medium {
    text-align: left;
}

.mainHead {
    text-align:left;
}

.btnbtn {
    width: 250px;
    height: 80px;
    border: 1px solid black;
    border-radius: 20px;
}

.small {
    width: 50%;
    text-align: center;
    padding: 40px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 50px;
}
 .small #para2 {
    font-size: large;
 }
 .sec {
    padding-inline: 150px !important;
 }

@media (max-width: 720px) {
    #para {
        width: 100%;
        text-align: initial;
    }
    .medium {
        text-align: initial;
    }
    
}

@media (max-width: 960px) and (min-width: 720px) {
    #para {
        width: 100%;
        text-align: center;
    }
    .mainHead {
        text-align: center;
    }
}

